[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pyinstaller = "*"
requests = "*"
cryptocode = "*"
pyjwt = "*"
backend-storage = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
